* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Rubik;
    
}


@font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); 
  
}
.Header{
    
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.Nav{
    display: flex;
    width: 100%;
    height: 30%;
    gap:60%;
    padding: 2%;
    
    }

    .Nav--logo{
    width: 18%;
    margin-left: 2%;
    margin-top: 0.5%;
    }
    .Nav-img{

       aspect-ratio: auto; 
      object-fit: cover;
      
        
    }
    
    .Nav--navbar{
    
    width: 80%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
    
    margin-top: 0.5%;
   
    
    
    }
    
    .Nav-a{
        display: flex;
        font-size: small;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

.Nav-a1{
    text-decoration: underline;
   
}


    
.Main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 4%;
    
    gap:3%;
    }

.Main-p{
    
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    font-size: 18px;
        
    }



.Main-a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    text-decoration: none;
    
    color: black;

    }


.Galeria{
    width: 100%;
    height: auto;
    display: grid;
    padding: 0 3%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1%;
    justify-content:center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-rows: 320px;
    grid-auto-columns: 200px;
    
}

.Galeria-img{
    aspect-ratio: auto; 
     width: 100%;

    
    
}



.Footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%; 
    justify-content: center;
    
    
    }

.Footer--caja{
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    height: 10%;
    border-top: 1px solid;
    border-color: black;
}

.Footer--pie{
    
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
    
    
    flex-wrap: wrap;
    margin-left: 1%;
    font-size: small;   
    }
    

.Footer--barra{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    padding-bottom: 2%;;
    
    gap: 1%;
    margin-right: 0.5%;
    
        
        }
        
.Footer-div{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    
    font-size: small;
        

        }